/* RESET STYLE */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav {
    z-index: 2;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #ECECEC;
    display: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
    position: relative;
    top: -4px;
	
}
 ul {
    margin-top: 0;
    margin-bottom: 0px;
}
ul a {
    text-align: center;
    display: inline-block;
    color: #aaa;
    padding: 13px;
    font-size: 18px;
    border-top: 1px #BDC3C7 solid;
    text-decoration:none;
}
ul a:hover {
    /* background-color: #ee3215; */
    color: #6398cd !important;
}
/* DESKTOP MODE */
@media (min-width: 500px) {
#nav {
        display: -ms-flexbox;
    
        display: -webkit-flex;
      
        display: flex;
        flex-direction: row;
        justify-content: center;
        -webkit-flex-direction: row;
        top: 0;
    }
   
    ul a {
        border-top: 0;
    }
}
.head{
    margin-top: 200px;
}
.animate__animated_animate__fadeInUp {
    --animate-duration: 5s;
  }
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  .font{
    font-size: 50px;
  }
  .size{
    margin-top: -170px;
    margin-left: 166px;
  }

  @media screen and (max-width: 863px) {
    .banner_title{
      font-size: calc(1.4rem + .6vw);
    }
  }


  .title-all{
    margin-bottom: 30px;
}

.title-all h1{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}
.title-all p{
    color: #999999;
    font-size: 16px;
}
.products-box{
    padding: 70px 0px;
}
.special-menu{
    margin-bottom: 40px;
}
.filter-button-group{
    display: inline-block;
}
.filter-button-group button{
    background: #b0b435;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 18px;
}
.filter-button-group button.active{
    background: #000000;
}

.products-single {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.products-single .box-img-hover{
    overflow: hidden;
    position: relative;
}
.box-img-hover img{
    margin: 0 auto;
    text-align: center;
    display: block;
}
.type-lb{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:8;
}
.type-lb .sale{
    background: #b0b435;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.type-lb .new{
    background: #000000;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.why-text{
    background: #f5f5f5;
    padding: 15px;
}
.why-text h4{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}
.why-text h5{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
  display: inline-block;
  background: #b0b435;
  color: #ffffff;
    font-weight: 600;
}
.mask-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mask-icon ul{
    display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mask-icon ul li{
    background: #b0b435;
}
.mask-icon ul li a{
    color: #ffffff;
    padding: 5px 10px;
    display: block;
}
.mask-icon a.cart{
    background: #b0b435;
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
.mask-icon a.cart:hover{
    background: #000000;
    color: #ffffff;
}
.mask-icon ul li a:hover{
    background: #000000;
    color: #ffffff;
}
.products-single .mask-icon{
    background: rgba(1,1,1, 0.5);
    top: -100%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}
@keyframes bounceY {
    0% {
        transform: translateY(-205px);
   }
    40% {
        transform: translateY(-100px);
   }
    65% {
        transform: translateY(-52px);
   }
    82% {
        transform: translateY(-25px);
   }
    92% {
        transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
   }
}
@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
   }
    40% {
        -moz-transform: translateY(-100px);
   }
    65% {
        -moz-transform: translateY(-52px);
   }
    82% {
        -moz-transform: translateY(-25px);
   }
    92% {
        -moz-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -moz-transform: translateY(0px);
   }
}
@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
   }
    40% {
        -webkit-transform: translateY(-100px);
   }
    65% {
        -webkit-transform: translateY(-52px);
   }
    82% {
        -webkit-transform: translateY(-25px);
   }
    92% {
        -webkit-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -webkit-transform: translateY(0px);
   }
}


.background1 {
	background-image: url('https://fashionviral.net/wp-content/uploads/2021/11/Dos-and-Donts-of-Business-Casual-Attire.jpg');
	background-position:center;
	height: 70vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .box{
    transition: 0.3s ease;
  }
  .box:hover{
    box-shadow: 0 0 34px -5px rgba(36, 29, 29, 0.3);
  }
  .rounded-10{
    border-radius: 10px;
  }

  
section {
    padding: 60px 0;
    min-height: 100vh;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer{
  position: relative;
  background: #1e2129;
}

.footer-content{
  position: relative;
  padding: 85px 0px 80px 0px;
}
.footer-content:before{
  position: absolute;
  content: '';
  background: url(https://i.ibb.co/jyRLrBZ/world-map.png);
  width: 744px;
  height: 365px;
  top: 50px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: float-bob;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.footer-content .logo-widget{
  position: relative;
  margin-top: -5px;
}
.footer-content .logo-widget .footer-social li{
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.footer-content .logo-widget .footer-social li:last-child{
  margin-right: 0px;
}
.footer-content .logo-widget .footer-social li a{
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #2e3138;
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
}
.footer-content .logo-widget .footer-social li a:hover{
  color: #ffffff;
  background: #ff5e14;
}
.footer-content .logo-widget .logo-box{
  margin-bottom: 25px;
}
.footer-content .logo-widget .text p{
  color: #9ea0a9;
  margin-bottom: 32px;
}
.footer-content .footer-title{
  position: relative;
  font-size: 24px;
  line-height: 35px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 27px;
}
.footer-content .service-widget .list li{
  display: block;
  margin-bottom: 12px;
}
.footer-content .service-widget .list li a{
  position: relative;
  display: inline-block;
  color: #9ea0a9;
}
.footer-content .service-widget .list li a:hover{
  color: #ff5e14;
}
.footer-content .contact-widget p{
  color: #9ea0a9;
  margin-bottom: 15px;
}
.footer-content .contact-widget{
  margin-left: 90px;
}
.footer-content .contact-widget .footer-title{
  margin-bottom: 29px;
}

/** footer-bottom **/

.footer-bottom{
  position: relative;
  background: #13151a;
  padding: 25px 0px 22px 0px;
}
.footer-bottom .copyright,
.footer-bottom .copyright a,
.footer-bottom .footer-nav li a{
  position: relative;
  color: #9ea0a9;
}
.footer-bottom .copyright a:hover,
.footer-bottom .footer-nav li a:hover{
  color: #ff5e14;
}
.footer-bottom .footer-nav{
  position: relative;
  text-align: right;
}
.footer-bottom .footer-nav li{
  position: relative;
  display: inline-block;
  margin-left: 29px;
}
.footer-bottom .footer-nav li:first-child{
  margin-left: 0px;
}
.footer-bottom .footer-nav li:before{
  position: absolute;
  content: '';
  background: #9ea0a9;
  width: 1px;
  height: 14px;
  top: 7px;
  left: -18px;
}
.footer-bottom .footer-nav li:first-child:before{
  display: none;
}
.logo-box img {
    max-width: 220px;
}

.color{
    color: #337ab7;
}
